.nav-link {
  font-size: 28px; 
  margin-right: 20px;
  transition: background-color 0.3s, color 0.3s;

}

.nav-link :hover {
  background-color: #f8f9fa;
  color: #007bff;
}

.nav-link.active {
  color: blue; /* Change the color to your desired style */
  font-weight: 600; /* Add any other styles you want */
}
.iframe-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Adjust height and width as necessary */
  height: 80vh;
  width: 80vw;
}

